NODE_ENV=   # development / production / test
PORT= # 3000 

DB_HOST= # *************** /// as docker servece name
DB_PORT= # ***************
DB_USER= # ************** *
DB_PASSWORD= # ***************
DB_NAME= # ***************